$color-purple1: #F7C0FF;
$color-purple2: #9266FF;
$color-purple3: #7B5FC7;
$color-purple4: #602DEB;

.header {
    img{
        height: 20px;
        width: auto;
    }
    & div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        // outline: 2px solid $color-purple1;
        
    }
    flex-direction: column;
    background-color: $color-purple3;
    // padding: 1rem;
    
    .header1 {
        h2 {
            color: white;
            font-size: 1rem;
        }
        & * {
            // outline: 1px solid $color-purple1;
            align-self: center;
        }
        // border: 1px solid red;
        padding: 1rem 0 0.5rem 0;
        min-width: 100vw;
        background-color: $color-purple4;
        height: 4rem;
        // justify-self: flex-start;


        label, button {
             font-family: 'Mukta Vaani', sans-serif;
             all: unset;
             border-radius: 4px;
             padding: 0 8px;
             height: 2rem;
             text-align: center;
             vertical-align: middle;
             
             &:hover {
                 cursor: pointer !important;

             }
        }
        input {
        
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        label {
            text-align: center;
            vertical-align: middle;
            background-color: $color-purple3;
            color: $color-purple1;
            font-size: 1rem;
            cursor: pointer;
        }
        button {
            background-color: $color-purple2;
            color: $color-purple4;
        }
    }

    
}

#searchBar {
    flex: 2;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 4px;
    position: relative;

    &::after {
        content: '';
        display: block;
        // position: absolute;
        background-image: url(/src/search-icon.png);
    }
}

#chapter-select {
    flex: 1;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 4px;

}

.color-palette {
    height: 1.5rem;
    z-index: 2;
    grid-template: 24px / repeat(8, 24px);
    max-width: 100%;
    margin: 0.5rem 1.5rem 0 1.5rem;
    display: grid !important;
}

.highlight-color {
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    cursor: pointer;
}

@media only screen  and (min-width: 720px) {

* {
    font-size: large;
}
.header {
    padding: 0 25%;
    justify-content: center !important;
    isolation: isolate;
}

.header2 {
    padding: 1rem 0;

}

.header1, .header2, .header3 {
    min-width: 50vh !important;
    // width: 100vh;
}

.header1::before {
    content: '';
    display: block;
    background-color: #602DEB;
    width: 100%;
    height: inherit;
    position:absolute;
    top: 0;
    z-index: -1;
}

.header1 {
    gap: 1em;
    img {
        width: 36px;
        height: 36px;
    }
    h2 {
        font-size: 1.5rem !important;
        flex: 1;
    }

}

.header3 {
    height: 60px !important;
    padding-bottom: 2rem !important;
    box-sizing: border-box;

    .highlight-color {
        height: 2rem !important;
        width: 2rem !important;
    }
}
}
.color-palette {
    grid-template: 36px/repeat(8, 36px) !important;


}